<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SalonNamestaja_NikolaDjuza</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>controller.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginAdminServlet</display-name>
    <servlet-name>LoginAdminServlet</servlet-name>
    <servlet-class>controller.LoginAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAdminServlet</servlet-name>
    <url-pattern>/LoginAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexSalonServlet</display-name>
    <servlet-name>IndexSalonServlet</servlet-name>
    <servlet-class>controller.IndexSalonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexSalonServlet</servlet-name>
    <url-pattern>/IndexSalonServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetFurnitureIndexServlet</display-name>
    <servlet-name>GetFurnitureIndexServlet</servlet-name>
    <servlet-class>controller.GetFurnitureIndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFurnitureIndexServlet</servlet-name>
    <url-pattern>/GetFurnitureIndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCurrentUserRoleServlet</display-name>
    <servlet-name>GetCurrentUserRoleServlet</servlet-name>
    <servlet-class>controller.GetCurrentUserRoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCurrentUserRoleServlet</servlet-name>
    <url-pattern>/GetCurrentUserRoleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFurnitureItemServlet</display-name>
    <servlet-name>DeleteFurnitureItemServlet</servlet-name>
    <servlet-class>controller.DeleteFurnitureItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFurnitureItemServlet</servlet-name>
    <url-pattern>/DeleteFurnitureItemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditFurnitureItemServlet</display-name>
    <servlet-name>EditFurnitureItemServlet</servlet-name>
    <servlet-class>controller.EditFurnitureItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditFurnitureItemServlet</servlet-name>
    <url-pattern>/EditFurnitureItemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartServlet</display-name>
    <servlet-name>AddToCartServlet</servlet-name>
    <servlet-class>controller.AddToCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartServlet</servlet-name>
    <url-pattern>/AddToCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexSalonsServlet</display-name>
    <servlet-name>IndexSalonsServlet</servlet-name>
    <servlet-class>controller.IndexSalonsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexSalonsServlet</servlet-name>
    <url-pattern>/IndexSalonsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexCategoriesServlet</display-name>
    <servlet-name>IndexCategoriesServlet</servlet-name>
    <servlet-class>controller.IndexCategoriesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexCategoriesServlet</servlet-name>
    <url-pattern>/IndexCategoriesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexActionSaleServlet</display-name>
    <servlet-name>IndexActionSaleServlet</servlet-name>
    <servlet-class>controller.IndexActionSaleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexActionSaleServlet</servlet-name>
    <url-pattern>/IndexActionSaleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFurnitureItemServlet</display-name>
    <servlet-name>AddFurnitureItemServlet</servlet-name>
    <servlet-class>controller.AddFurnitureItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFurnitureItemServlet</servlet-name>
    <url-pattern>/AddFurnitureItemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetSalonsIndexServlet</display-name>
    <servlet-name>GetSalonsIndexServlet</servlet-name>
    <servlet-class>controller.GetSalonsIndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSalonsIndexServlet</servlet-name>
    <url-pattern>/GetSalonsIndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCategoriesIndexServlet</display-name>
    <servlet-name>GetCategoriesIndexServlet</servlet-name>
    <servlet-class>controller.GetCategoriesIndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCategoriesIndexServlet</servlet-name>
    <url-pattern>/GetCategoriesIndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCategoryServlet</display-name>
    <servlet-name>DeleteCategoryServlet</servlet-name>
    <servlet-class>controller.DeleteCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCategoryServlet</servlet-name>
    <url-pattern>/DeleteCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditCategoryServlet</display-name>
    <servlet-name>EditCategoryServlet</servlet-name>
    <servlet-class>controller.EditCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCategoryServlet</servlet-name>
    <url-pattern>/EditCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCategoryServlet</display-name>
    <servlet-name>AddCategoryServlet</servlet-name>
    <servlet-class>controller.AddCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCategoryServlet</servlet-name>
    <url-pattern>/AddCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexAdditionalServicesServlet</display-name>
    <servlet-name>IndexAdditionalServicesServlet</servlet-name>
    <servlet-class>controller.IndexAdditionalServicesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexAdditionalServicesServlet</servlet-name>
    <url-pattern>/IndexAdditionalServicesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAdditionalServicesIndexServlet</display-name>
    <servlet-name>GetAdditionalServicesIndexServlet</servlet-name>
    <servlet-class>controller.GetAdditionalServicesIndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAdditionalServicesIndexServlet</servlet-name>
    <url-pattern>/GetAdditionalServicesIndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditAdditionalServiceServlet</display-name>
    <servlet-name>EditAdditionalServiceServlet</servlet-name>
    <servlet-class>controller.EditAdditionalServiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditAdditionalServiceServlet</servlet-name>
    <url-pattern>/EditAdditionalServiceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAdditionalServiceServlet</display-name>
    <servlet-name>AddAdditionalServiceServlet</servlet-name>
    <servlet-class>controller.AddAdditionalServiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAdditionalServiceServlet</servlet-name>
    <url-pattern>/AddAdditionalServiceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAdditionalServiceServlet</display-name>
    <servlet-name>DeleteAdditionalServiceServlet</servlet-name>
    <servlet-class>controller.DeleteAdditionalServiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAdditionalServiceServlet</servlet-name>
    <url-pattern>/DeleteAdditionalServiceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShoppingCart</display-name>
    <servlet-name>ShoppingCart</servlet-name>
    <servlet-class>model.ShoppingCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoppingCart</servlet-name>
    <url-pattern>/ShoppingCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetShoppingCartIndexServlet</display-name>
    <servlet-name>GetShoppingCartIndexServlet</servlet-name>
    <servlet-class>controller.GetShoppingCartIndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetShoppingCartIndexServlet</servlet-name>
    <url-pattern>/GetShoppingCartIndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexShoppingCartServlet</display-name>
    <servlet-name>IndexShoppingCartServlet</servlet-name>
    <servlet-class>controller.IndexShoppingCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexShoppingCartServlet</servlet-name>
    <url-pattern>/IndexShoppingCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteShoppingCartItemServlet</display-name>
    <servlet-name>DeleteShoppingCartItemServlet</servlet-name>
    <servlet-class>controller.DeleteShoppingCartItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteShoppingCartItemServlet</servlet-name>
    <url-pattern>/DeleteShoppingCartItemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddReceiptServlet</display-name>
    <servlet-name>AddReceiptServlet</servlet-name>
    <servlet-class>controller.AddReceiptServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddReceiptServlet</servlet-name>
    <url-pattern>/AddReceiptServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetActionSalesServlet</display-name>
    <servlet-name>GetActionSalesServlet</servlet-name>
    <servlet-class>controller.GetActionSalesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetActionSalesServlet</servlet-name>
    <url-pattern>/GetActionSalesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddActionSaleServlet</display-name>
    <servlet-name>AddActionSaleServlet</servlet-name>
    <servlet-class>controller.AddActionSaleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddActionSaleServlet</servlet-name>
    <url-pattern>/AddActionSaleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteActionSaleServlet</display-name>
    <servlet-name>DeleteActionSaleServlet</servlet-name>
    <servlet-class>controller.DeleteActionSaleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteActionSaleServlet</servlet-name>
    <url-pattern>/DeleteActionSaleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetFurnitureItemByIdServlet</display-name>
    <servlet-name>GetFurnitureItemByIdServlet</servlet-name>
    <servlet-class>controller.GetFurnitureItemByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFurnitureItemByIdServlet</servlet-name>
    <url-pattern>/GetFurnitureItemByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetReportServlet</display-name>
    <servlet-name>GetReportServlet</servlet-name>
    <servlet-class>controller.GetReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetReportServlet</servlet-name>
    <url-pattern>/GetReportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexReportServlet</display-name>
    <servlet-name>IndexReportServlet</servlet-name>
    <servlet-class>controller.IndexReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexReportServlet</servlet-name>
    <url-pattern>/IndexReportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetReportCategoryServlet</display-name>
    <servlet-name>GetReportCategoryServlet</servlet-name>
    <servlet-class>controller.GetReportCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetReportCategoryServlet</servlet-name>
    <url-pattern>/GetReportCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileUpload</display-name>
    <servlet-name>FileUpload</servlet-name>
    <servlet-class>controller.FileUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUpload</servlet-name>
    <url-pattern>/FileUpload</url-pattern>
  </servlet-mapping>
</web-app>